h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(49, 5, 1);
}

h2 {
    color: brown;
}

h3 {
    color: rgb(18, 114, 69);
}